.beer-container .panel-danger .panel-heading {
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0%   {background-color:#f2dede;}
    50% {background-color:red;}
    100% {background-color:#f2dede;}
}
